@use 'bootstrap';

@use './partials/variables.scss' as *;

body {
    font-family: 'Poppins', sans-serif;
}

.my_container {
    max-width: 2000px;
    width: 90%;
    margin: auto;
}

.my_grey {
    color: $coach-grey;
}

.my_green {
    color: $coach-green;
}