/* Colors */

$coach-white: #FFFFFF;
$coach-green: #20AD96;
$coach-purple: #3F3A64;
$coach-white-2: #F5F7FA;
$coach-white-3: #F8F8F8;
$coach-lightgrey: #F5F1ED;
$coach-grey: #696969;
$coach-violet: #8C89A2;
$coach-footer: #171621;